html, body {
  
  font-family: 'Open Sans', sans-serif;
  margin:0px;
}

.teemo{
  background:url("https://images4.alphacoders.com/600/thumb-1920-600528.png");
  background-size:cover;
  padding-bottom:5%;
}

#message, #notes, #difficulty {
  display: flex;
  flex-direction: column;
  align-items: center;
  color:white;
}
button{
  transition:300ms;
}
button:hover{
  box-shadow:inset 0px 0px 20px  rgba(0, 195, 255, 0.75),0px 0px 20px 4px rgba(0, 195, 255, 0.75);
  transition:300ms;
  border-color:lightskyblue;
  cursor: pointer;


}
#difficulty{
  background:rgba(0, 0, 0, 0.308);
}
#message {
  font-size: 1.5rem;
  background:rgb(27, 27, 27);
  position:sticky;
  top:0px;
}
.radios{
  text-align:center;
  
  background:url("https://am-a.akamaihd.net/image?quality=preserve&f=https://lolstatic-a.akamaihd.net/frontpage/apps/prod/playnow-global/en_US/328566a634ec929c4fc0ec5507c3b42a3bd4fb36/assets/img/cover-1.jpg");
  color:white;
  background-size:cover;

}
.radiosInner{
  background:rgba(0, 0, 0, 0.301);
  padding:5%;
}
.instructions{
  padding:1%;
  text-align:center;
  
  
  color:white;
  background:black;
  padding:1%;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-image: linear-gradient(to right,#836323 0,#c3a568 51%,#836323 100%);
  border-image-slice: 1;
  box-shadow: 0 4px 15px -2px #000 inset;
}
.instructionsInner{
  width:80vw;
  margin:0 auto 0 auto;
}
.accent {
  border-top: 8px solid transparent;
  border-image: linear-gradient(to right,#836323 0,#c3a568 51%,#836323 100%);
  border-image-slice: 1;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 0 4px 15px -2px #000 inset;
}
.board {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 0 auto;

}


.board div {
  color: green;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 1px #ccc dotted;
  border-radius: 10%;
  background-color: rgb(255, 255, 255);
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: white;
}

div.mine, div.mine:hover {
  background: no-repeat center/110% url(https://i1.sndcdn.com/avatars-000182841444-mfizdx-t500x500.jpg) crimson;
}

div.hidden {
  background: rgba(238, 238, 238, 0.342);
}

div.hidden:hover {
  background: #ccc;
}

div.marked, div.marked:hover {
  background: no-repeat center/60% url("images/mark.svg") deepskyblue;
}

footer{
  padding:5%;
  background:rgb(41, 41, 41);
  color:white;
  text-align:center;

}
.resetButton{
  text-align:center;
  padding:1%;
}
.reset{
  padding:20px;
  background:black;
  color:white;
}